# Description
This notebook analyzes & visualyzes precipitation data.

In [1]:
# The code was removed by Watson Studio for sharing.

,Shipping Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Cost Price,Retail Price,Profit Margin,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total
2,5071-1,2013-05-05 00:00:00,Christopher Schild,"4A Lyons St,Strathfield",Sydney,NSW,Corporate,Tina Carlton,Medium,"Laser Neon Mac Format Diskettes, 10/Pack",...,1.87,2.2253,0.3553,41,91.2373,0.06,5.47424,85.7631,2.83,88.5931
3,5071-2,2013-05-05 00:00:00,Christopher Schild,"4A Lyons St,Strathfield",Sydney,NSW,Corporate,Tina Carlton,Medium,Steady Liquid Accent Highlighters,...,3.47,6.68,3.21,2,13.36,0.01,0.1336,13.2264,1.5,14.7264
4,5145-1,2013-06-29 00:00:00,Cyma Kinney,"Sydney Fish Market, Bank Street, Sydney",Sydney,NSW,Small Business,Phoebe Gour,Low,Alto Memo Cubes,...,3.32,5.18,1.86,1,5.18,0.02,0.1036,5.0764,2.04,7.1164